{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Student Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post">
        <div class="card">
          <div class="card-header">Academic Information</div>
          <div class="card-body">
            <b>Class: {{ cr.class_name }}</b>
            <b>Shift: {{ cr.shift }}</b>
            <b>Section: {{ cr.section }}</b>
            <b>Session: {{ cr.session }}</b>
            {% csrf_token %}
            {{ academic_info_form.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">Personal Information</div>
          <div class="card-body">
            {% csrf_token %}
            {{ forms.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">Address Information</div>
          <div class="card-body">
            {% csrf_token %}
            {{ forms.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">Guardian Information</div>
          <div class="card-body">
            {% csrf_token %}
            {{ forms.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">In Case Of Emergency Contact Details</div>
          <div class="card-body">
            {% csrf_token %}
            {{ forms.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">Previous Academic Information</div>
          <div class="card-body">
            {% csrf_token %}
            {{ forms.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">Previous Academic Certificate</div>
          <div class="card-body">
            {% csrf_token %}
            {{ forms.as_p }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
