arabic-reshaper==2.1.1
asgiref==3.2.10
beautifulsoup4==4.9.1
cairocffi==1.2.0
CairoSVG==2.5.0
certifi==2019.6.16
cffi==1.14.4
chardet==3.0.4
cssselect2==0.4.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1
django-crispy-forms==1.9.2
django-flatpickr==1.0.1
django-heroku==0.3.1
django-multiselectfield==0.1.12
djangorestframework==3.11.0
future==0.18.2
gunicorn==20.0.4
h11==0.8.1
h2==3.2.0
hpack==3.0.0
html5lib==1.1
http3==0.6.7
hyperframe==5.2.0
idna==2.8
Paperboy==1.0.1
Pillow==7.1.2
psycopg2==2.8.6
pycparser==2.20
PyPDF2==1.26.0
Pyphen==0.10.0
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2019.1
reportlab==3.5.56
requests==2.25.0
requests-async==0.6.2
rfc3986==1.4.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.0
tinycss2==1.1.0
urllib3==1.26.2
webencodings==0.5.1
whitenoise==5.2.0
xhtml2pdf==0.2.5
