{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>

        
        <!--Student sidebar-->
        {%if request.user.is_student%}
        <li class="nav-item" id="student-sidebar-info">
            <a class="nav-link" href="#">
                <i class="icon-speedometer"></i>My Info</a>
          </li>
          <li class="nav-item" id="student-sidebar-info">
            <a class="nav-link" href="{% url 'student-attendance' %}">
                <i class="icon-speedometer"></i>My Attendance</a>
          </li>
          <li class="nav-item" id="student-sidebar-info">
            <a class="nav-link" href="{% url 'student_result_view' %}">
                <i class="icon-speedometer"></i>View Result</a>
          </li>

         <!--Teacher sidebar-->
         {%elif request.user.is_teacher%}
             <!-- My Info -->
           <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher-my-profile' %}">
                <i class="icon-speedometer"></i>My Info</a>
          </li>
            <!-- Administration Section END -->

                         <!-- My Info -->
           <li class="nav-item">
            <a class="nav-link" href="{% url 'view-class' %}">
                <i class="icon-speedometer"></i>My Class</a>
          </li>
            <!-- Administration Section END -->

                         <!-- My Info -->
           <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-speedometer"></i>Timetable</a>
          </li>
            <!-- Administration Section END -->

                         <!-- My Info -->
           <li class="nav-item">
            <a class="nav-link" href="{% url 'my_subjects' %}">
                <i class="icon-speedometer"></i>My Subjects</a>
          </li>
                                     <!-- My Info -->
           <li class="nav-item">
            <a class="nav-link" href="{% url 'result_student_list' %}">
                <i class="icon-speedometer"></i>Class Results</a>
          </li>
                   <!-- Attendence Report Section START -->
         <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Attendance</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-mark-attendance' %}">
                        <i class="fa fa-plus-circle"></i>Mark Class Attendance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_attendance' %}">
                      <i class="fa fa-plus-circle"></i>View Attendance</a>
              </li>
            </ul>
          </li>
          <!-- Attendence Report Section END -->
            <!-- Teacher Sidebar End -->
           {%else%}






           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Academic</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-department' %}">
                      <i class="fa fa-plus-circle"></i>Add Department</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-section' %}">
                      <i class="fa fa-plus-circle"></i>Create Section</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-session' %}">
                      <i class="fa fa-plus-circle"></i>Create Session</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-shift' %}">
                      <i class="fa fa-plus-circle"></i>Create Shift</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->

           <!-- Session Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Session</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view-session' %}">
                        <i class="fa fa-list"></i>Current Session</a>
                </li>
            </ul>
          </li>
          <!-- Teacher Section END -->

            <!-- Class Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Class</a>
             <ul class="nav-dropdown-items">
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'class-registration' %}">
                       <i class="fa fa-plus-circle"></i>Class Registration</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'class-list' %}">
                       <i class="fa fa-list"></i>Class List</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'promote-students' %}">
                    <i class="fa fa-list"></i>Promote Students</a>
            </li>
             </ul>
           </li>
           <!-- Class Section END -->

           <!-- Teacher Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Teacher</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-registration' %}">
                        <i class="fa fa-plus-circle"></i>Teacher Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-list' %}">
                        <i class="fa fa-list"></i>Teacher List</a>
                </li>
            </ul>
          </li>
          <!-- Teacher Section END -->

            <!-- Student Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Student</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-registration' %}">
                         <i class="fa fa-plus-circle"></i>Student Registration</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-list' %}">
                         <i class="fa fa-list"></i>Student List</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-search' %}">
                         <i class="fa fa-search-plus"></i>Student Search</a>
                 </li>
             </ul>
           </li>
           <!-- Student Section END -->

           <!-- Enroll Student Section START -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Enroll Student</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'enrolled-student' %}">
                        <i class="fa fa-plus-circle"></i>Student Enrolled</a>
                    <a class="nav-link" href="{% url 'enrolled-student-list' %}">
                        <i class="fa fa-list"></i>Enrolled Student List</a>
                </li>
            </ul>
          </li>
          <!-- Enroll Student Section END -->

           <!-- Employee Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Employee</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'employee-registration' %}">
                        <i class="fa fa-plus-circle"></i>Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'employee-list' %}">
                        <i class="fa fa-list"></i>Employee List</a>
                </li>
            </ul>
          </li>
          <!-- Employee Section END -->

          <!-- Result Section START -->
          <li class="nav-item nav-dropdown">
           <a class="nav-link nav-dropdown-toggle" href="#">
               <i class="nav-icon icon-puzzle"></i>Result</a>
           <ul class="nav-dropdown-items">
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'add-subject' %}">
                       <i class="fa fa-plus-circle"></i>Add Subject</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'subject-list' %}">
                       <i class="fa fa-list"></i>Subject List</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'mark-entry' %}">
                       <i class="fa fa-plus-circle"></i>Mark Entry</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'mark-result' %}">
                    <i class="fa fa-plus-circle"></i>Mark Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_student_result' %}">
                    <i class="fa fa-plus-circle"></i>Approve Result</a>
            </li>
           </ul>
         </li>
         <!-- Result Section END -->

         <!-- Attendence Report Section START -->
         <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>Attendence Report</a>
          <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'student-attendance' %}">
                      <i class="fa fa-plus-circle"></i>Student Attendence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'view_attendance' %}">
                    <i class="fa fa-plus-circle"></i>View Attendence</a>
            </li>
          </ul>
        </li>
        <!-- Attendence Report Section END -->

       <!-- Timetable Section START -->
       <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-puzzle"></i>Timetable</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add-period'%}">
                    <i class="fa fa-plus-circle"></i>Add Period</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add-section-subject' %}">
                    <i class="fa fa-plus-circle"></i>Add SectionSubject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add-timetable-teacher' %}">
                    <i class="fa fa-plus-circle"></i>Timetable Teacher</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'timetable-class-subjects' %}">
                    <i class="fa fa-plus-circle"></i>Add Class Subjects</a>
            </li>                                    
            <li class="nav-item">
                <a class="nav-link" href="{% url 'timetable-class-list'%}">
                    <i class="fa fa-list"></i>Generate Timetable</a>
            </li>
        </ul>
      </li>
      <!-- Timetable Section END -->

        <!-- Event Section START -->
        <li class="nav-item nav-dropdown">
         <a class="nav-link nav-dropdown-toggle" href="#">
             <i class="nav-icon icon-puzzle"></i>Events</a>
         <ul class="nav-dropdown-items">
             <li class="nav-item">
                 <a class="nav-link" href="#">
                     <i class="nav-icon icon-puzzle"></i>Student List</a>
             </li>
         </ul>
       </li>
       <!-- Event Section END -->


        <!-- Library Section START -->
               <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i>Library</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-book'%}">
                            <i class="fa fa-plus-circle"></i>Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-category'%}">
                            <i class="fa fa-plus-circle"></i>Add Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view-books'%}">
                            <i class="nav-icon icon-puzzle"></i>View Books</a>
                    </li>
                </ul>
              </li>
              <!-- Library Section END -->

        <!-- Inventory Section START -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Inventory</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-inventory-category' %}">
                        <i class="fa fa-plus-circle"></i>Add Category </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-inventory-item'%}">
                        <i class="fa fa-plus-circle"></i>Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issue-inventory-item'%}">
                        <i class="fa fa-plus-circle"></i>Issue Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view-inventory-items'%}">
                        <i class="nav-icon icon-puzzle"></i>View Inventory Items</a>
                </li>
            </ul>
          </li>
          <!-- Inventory Section END --> 
        

        <!-- Inventory Section START -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Class Items</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assigned-inventory-items'%}">
                        <i class="nav-icon icon-puzzle"></i>Assigned Class Items</a>
                </li>
            </ul>
          </li>
          <!-- Inventory Section END --> 
          <!-- Store Section START -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Shop</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view-store' %}">
                        <i class="nav-icon icon-puzzle"></i>View Store </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-store-item'%}">
                        <i class="fa fa-plus-circle"></i>Add Store Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-store-category'%}">
                        <i class="fa fa-plus-circle"></i>Add Store Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view-inventory-items'%}">
                        <i class="nav-icon icon-puzzle"></i>View Inventory Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assigned-inventory-items'%}">
                        <i class="nav-icon icon-puzzle"></i>Assigned Inventory Items</a>
                </li>
            </ul>
          </li>
          <!-- Store Section END --> 
          

          <!-- Fees Section START -->
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Fees</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-fees' %}">
                        <i class="nav-icon icon-puzzle"></i>Create Fee </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create-discount' %}">
                        <i class="nav-icon icon-puzzle"></i>Create Discount </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-class-fees' %}">
                        <i class="nav-icon icon-puzzle"></i>Add Fee to Class </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view-class-fees' %}">
                        <i class="nav-icon icon-puzzle"></i>View Class Fees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'paid-fee' %}">
                        <i class="nav-icon icon-puzzle"></i>Fee Paid</a>
                </li>
            </ul>
          </li>
          <!-- Fees Section END -->

        <!-- User-Manual Section START -->
        <li class="nav-item nav-dropdown">
         <a class="nav-link" href="#">
             <i class="nav-icon icon-puzzle"></i>Updates</a>
       </li>
       <!-- User-Manual Section END --> 
        </ul>
    </nav> 
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    {%endif%}
    {% block sidebar %}
    {% endblock %}
</div>
