{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <!-- Administration Section Start -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Product List</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'designation' %}">
                         <i class="fa fa-plus-circle"></i>Add Product</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'district' %}">
                         <i class="fa fa-plus-circle"></i>Search Product</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'upazilla' %}">
                         <i class="fa fa-plus-circle"></i>Update Product</a>
                 </li>
                
             </ul>
           </li>
           <!-- Administration Section END -->

           <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Profiles</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-department' %}">
                      <i class="fa fa-plus-circle"></i>Add Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-class' %}">
                      <i class="fa fa-plus-circle"></i>Update Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-section' %}">
                      <i class="fa fa-plus-circle"></i>Search Profile</a>
              </li>
             
          </li>
         
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
