{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Subject Register Form</div>
    <div class="card-body">
        <div class="card">
          <div class="card-header">Subject Information</div>
          <div class="card-body">
            <h6>ADD Class Subjects  </h6>
            <hr>
            <form class="" action="" method="post">
            {% csrf_token %}
            {{form.media}}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
          <br><br>
          </div>
        </div>
      <hr>
    
    <div class="card">
      <div class="card-header">All Classes</div>
      <div class="card-body">
        {% if classes %}
        {%for class in classes%}
        <h5>{{class}}</h5>
         <table class="table table-striped">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Tecaher</th>
            <th>No of times a week</th>
            <th>Delete</th>
          </tr>
        </thead>
          {% for p in class.subjects.all %}
          <tbody>
            <tr>
              <form class="" action="{% url 'timetable-delete-class-subjects' %}" method="post">
                {% csrf_token %}
              <input type="hidden" name="id" value="{{class.id}}">
              <td>{{p.name}}</td>
              <td>{{p.teacher}}</td>
              <td>{{p.no_of_times_a_week}}</td>
              {% endfor %}
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{p.id}}classSubjectsModal">
                  Delete
                </button></td>
                
  
                <!-- Modal -->
                <div class="modal fade" id="{{p.id}}classSubjectsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h6>Are you sure you want to delete this Class Subjects</h6>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Delete">
                      </div>
                    </div>
                  </div>
                </div>
                <!--Modal end-->
                          </tr>
          </tbody>
        </form>
          {% endfor%}
          {% else %}
          <h4>No Class Subjects</h4>
          {% endif %}
        </table>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
