{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>{{class.name}}
    </div>
      <div class="card-body">
          <table class="table table-responsive-sm table-bordered">
              <thead class="bg-primary">
                  <tr>
                      <th></th>
                {% for period in periods%}
                      <th><div>{{period.start_time}} - {{period.end_time}}</div></th>
                {%endfor%}        
                  </tr>
              </thead>
              <tbody>
                {% for day in days%}
                <tr>
                    <td>{{day}}</td>
                    {%for period in periods %}
                    <td>
                    {%for time in timetable%}
                    {% if time.period == period and time.day == day %}
                   <a href="{% url 'edit_timetable' time.id%}">{{time.subject.name}}</a> <br>
                    {%endif%}
                    {% endfor%}
                    </td>
                    {%endfor%}  
                </tr>
                {%endfor%}              
              </tbody>
          </table>
      </div>


{% endblock %}