{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Class List
    </div>
    {% if register_class %}
      <div class="card-body">
          <table class="table table-responsive-sm table-bordered">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Class Name</th>
                      <th>Class</th>
                      <th>Section</th>
                      <th>Generate Timetable</th>
                      <th>View Timetable</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cls in register_class %}
            <form action="{% url 'generate_timetable'%}" method="POST">
                  {%csrf_token%}

                    <tr>
                        <td>{{ cls.id }}</td>
                        <td>{{ cls.name }}</td>
                        <td>{{ cls.class_name }}</td>
                        <td>{{ cls.section }}</td>
                        <input type="hidden" value="{{cls.id}}" name="timetable_class_id">
                        <td><input class="btn btn-primary" type="submit" method="POST" value="Generate Timetable"></td>
                        <td><a class="btn btn-primary" href="{%url 'view_timetable' cls.id %}">View Timetable</a></td>
                    </tr>
                </form>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% else %}
      <div class="card-body">
          <h3>No Class Register</h3>
      </div>
      {% endif %}
  </div>
{% endblock %}
