{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Class Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Class List</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Class Name</th>
                      <th>Display Name</th>
                      <th>Register Date</th>
                  </tr>
              </thead>
              <tbody>
                  {% for class_obj in class_obj %}
                    <tr>
                        <td>{{ class_obj.id }}</td>
                        <td>{{ class_obj.name|title }}</td>
                        <td>{{ class_obj.display_name|title }}</td>
                        <td>{{ class_obj.date }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
